%cx-password-visibility {
  padding-inline-start: 90%;
  display: flex;

  .cx-show-hide-btn {
    margin-top: 0.5rem;
    position: absolute;
    font-size: 17px;
    border: transparent;
    border-radius: 4px; // Needed to make focus border consistent with other inputs
    background: none;
    color: var(--cx-color-secondary);
  }
}

