%cx-password-visibility {
  transform: translate(90%, 0%);
  display: flex;

  .cx-show-hide-btn {
    position: absolute;
    font-size: 17px;
    border: transparent;
    border-radius: 4px; // Needed to make focus border consistent with other inputs
    background: none;
    color: var(--cx-color-secondary);
  }
}

